*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    color: #777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    margin: auto;
    max-width: 1170px;
    padding: 10px;
    display: block;
}

header {
    position: fixed;
    background-color: #fff;
    display: inline-block;
    /*position: sticky;  might give heading stick*/
}

#header {
    width: 100% !important;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

.mainbanner{
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;   
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: auto;
    box-sizing: border-box;
}

/*
nav{
    display: inline-block !important;
    padding: 0 250px;
    width: 100%;
}*/

.nav-menu ul{
    float: right;
    margin: 0;
    padding: 0;
}

.nav-menu li{
    display: inline-block !important;
    
    white-space: nowrap;
}

.nav-menu{
    margin: 0;
}

.nav-menu a{
    color: #000;
    font-size: 12px;
    padding: 0 8px 0px 8px;
    border-radius: 3px;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 500;
    
}
a.active, a:hover{
    background: transparent;
    color: black;
    transition: .5s;
}

#logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 65px;
    font-weight: bold;
    
}


