*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
html{
    width: auto;
    height: auto;
}

a{
    cursor: pointer;
}


header {
    width: 100% !important;
    top: 0;
    z-index: 997;
    background-color: #fff;
    display: inline-block;
    position: sticky;
}

.header_main {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    z-index: 997;
}

.header_logo{
    width: fit-content;
    line-height: 100%;
    display: flex;
    padding-left: 60px;
}

.header_logo img{
    align-self: center;
    height: 100%;
}

.header_nav{
    width: auto;
    height: 100%;
    list-style: none;
    padding-right: 120px;
    float: right;
}

.header_nav ul{
    list-style: none;
    margin-left: 30px;
    
}

.header_nav ul li{
    display: inline-block;
    margin: 0 5px;   
}

.header_nav ul li a{
    padding: 0 10px;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 50%;
    text-transform: uppercase;
    color: #777;
}

.header_nav ul li a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: goldenrod;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s linear;
}

.header_nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

label #main_btn,
label #close{
    color:#777;
    font-size: 30px;
    float: right;
    line-height: 100%;
    margin-right: 40px;
    cursor: pointer;
    align-self: center;
    display: none;
}

#nav_check{
    display: none;
}

.drop_btn{
    background-color: transparent;
    border: none;
    font-size: 17px;
    padding: 0 10px;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    line-height: 50%;
    text-transform: uppercase;
    color: #777;
    cursor: pointer;
}

.drop_down{
    position: relative;
    display: block;
    align-items: center;
    left: -40px;
    height: 100;

}

.drop_down ul{
    position: absolute;
    width: max-content;
    height: max-content;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 50px;
    display: none;
}

.drop_down ul li{
    margin: 0;
    background-color: #fff;
    color: #777;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    text-align: center;
}

.header_nav .drop_down a{
    color: #777;
    padding: 12px 16px;
    text-decoration: none;
    text-align: justify;
}

.extend-menu{
    display: inline-block;

}

.drop_down a:hover{
    color: goldenrod;
}

.extend-menu:hover .drop_down ul{
    display: flex;
    flex-direction: column;
}

.extend-menu:hover .drop_btn{
    color: goldenrod;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.header_nav ul li a:hover{
    color: goldenrod;
}

 
body {
    color: #777;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    flex-direction: column;
    margin: 0;
    padding: 0px;
}

footer{
    margin-top: auto;
    bottom: 0;
    background: linear-gradient(to right, #266c9a, #2c3e50);
    color: #fff;
    padding : 20px 0 30px;
    border-top-right-radius: 60px;
    font-size: 15px;
    line-height: 20px;
}
.footer_row{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer_column{
    flex-basis: 25%;
    padding: 10px;
}

.footer_column:nth-child(2), .footer_column:nth-child(3), .footer_column:nth-child(4){
    flex-basis: 20%;
}

.footer_column h3{
    width: fit-content;
    margin-bottom: 15px;
    position: relative;
}

#contact{
    width: fit-content;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    margin: 10px 0;
}

.footer_column li{
    list-style: none;
    margin-bottom: 12px 0;
}

.footer_column li a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    transition: all .5s ease;
}

.footer_column li:hover{
    color: goldenrod;
    padding-left: 10px;
}

.footer_final .socials{
    color: white;
    margin-right: 10px;
    transition: all .5s ease;
}


.footer_final .socials:hover{
    color: #777;
    background-color: white;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 30%;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}

form .far{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

form button{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

form input{
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
}


#map_link a{
    font-size: 12px;
    color: #777;
}

.footer_final{
    width: 90%;
    border: 0;
    font-size: medium;
    border-bottom: 1px solid #777;
    margin: 20px 120px;
}

.underline{
    width: 100%;
    height:5px;
    background: #777;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 20px;
    height: inherit;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 4s linear infinite;
}


@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}


@media (max-width: 860px){
    label #main_btn{
        display: block;
    }
    ul{
        position: fixed;
        
        width: 100%;
        height: 100vh;
        left: -100%;
        text-align: center;
        top: 95px;
        transition: all .5s;
    }
    .header_nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .header_nav ul li a{
        font-size: 15px;
    }
    #nav_check:checked ~ ul{
        background: black;
        left: 0;
    }
    
    #nav_check:checked ~ label #main_btn{
        display: none;
    }
    #nav_check:checked ~ label #close{
        display: block;
    }
    footer{
        bottom: 0;
    }
    .footer_column{
        width: 25%;
        flex-basis: 100%;
    }
    
    .footer_column:nth-child(2), .footer_column:nth-child(3), .footer_column:nth-child(4){
        flex-basis: 100%;
    } 
    .footer_final{
        margin: 20px auto;
    }
    .flips{
        display: none;
    }
}

.media_container{
    position: relative;
    display: block;
    align-items: center;
    cursor: default;
    
}

#bg-video{
    width: 100%;
    height: 450px;
    padding: 0 10% 0 10%;
}

#bg-image{
    filter: blur(1px);
    width: 100%;
    height: 450px;
    padding: 0 10% 0 10%;
    opacity: 0.75;

}
.video-text{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 13%;
    line-height: 1.625em;
    color: rgb(134, 153, 170);
}

.image-text{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: black;
    padding: 200px 0;
    text-align: center;
    position: absolute;
}

.video-overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-overlay{
    display: flex;
    justify-content: center;
}

.secondary{
    position: relative;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.secondary h1{
    font-size: 50px;
    padding-bottom: 2%;
}

.secondary h3 a{
    color: rgb(134, 153, 170);
}

.secondary h3{
    padding-bottom: 1%;
}

.secondary h3 a:hover{
    color: goldenrod;
}


.secondary h3{
    font-size: 30px;
}

.secondary p{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    font-size: 17px;
    font-weight: 500;
}

.left-display img{
    float: left;
}

.flips{
    width: 90%;
    position: relative;
    left: 10%;
    display: inline-flex;
    flex-wrap: wrap;
}

.flip-container{
    position: relative;
    display: flex;
    margin-left: 28px;
    margin-right: 60px;
    flex-direction: column;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    justify-content: space-between;
}

.flip-container:hover > .back-view{
    transform: perspective(800px) rotateY(0deg);
}

.flip-container:hover > .front-view{
    transform: perspective(800px) rotateY(180deg);
}

.front-view{
    position: relative;
    line-height: 2em;
    width: 100%;
    height: 380px;
    background: rgb(134, 153, 170);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    transition: transform .5s ease;
    transform: perspective(800px) rotateY(0deg);
}

.back-view{
    position: absolute;
    width: 100%;
    height: 380px;
    background: rgb(134, 153, 170);
    color: black;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    transition: transform .5s ease;
    transform: perspective(800px) rotateY(-180deg);
}

.back-view h1 a{
    color: rgb(134, 153, 170);
}

.back-view h1 a:hover{
    color: goldenrod;
}

.ext-front-view{
    position: relative;
    width: 100%;
    height: 500px;
    background: rgb(134, 153, 170);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.flip-container2{
    position: relative;
    display: flex;
    margin-right: 60px;
    flex-direction: column;
    width: 700px;
    text-align: center;
    border-radius: 5px;
    justify-content: space-between;
}

.ext-front-view2{
    position: relative;
    width: 700px;
    height: 300px;
    background: rgb(134, 153, 170);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.profile img{
    margin-left: -15%;
}

.ext-course-title:hover{
    color: #777;
}

.ext-cover img{
    transition: all 0.3s ease;
}

.ext-cover:hover img{
    transform: scale(0.95);
    cursor: pointer;
}

.course-title{
    font-size: 35px;
    padding-top: 20%;
}

.ext-course-title{
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 10px;
}

.content{
    text-align: justify;
    padding: 0 20px;
    padding-top: 15%;
    font-size: 22px;
}

.back-view h1{
    padding-top: 15%;
    padding-bottom: 15%;
    font-weight: bold;
    background: white;
}

.secondary-final{
    list-style: none;
    margin-left: 10%;
    font-size: 30px;
}

.message-form{
    padding: 2%;
    box-shadow: var(--shadow);
    color: black;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
    height: auto;
    width: auto;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.message-form input{
    border: 1px solid black;
    height: 35px;
    margin-top: 5px;
    color: black;
    padding-left: 5%;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.message-form textarea{
    box-shadow:0px 5px 5px 0px rgba(0,0,0,0.2);
}

.message-form button{
    border: 1px solid #777;
    padding: 10px;
    border-radius: 5px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.message-form button:hover{
    background-color: #777;
}

.help-input{
    padding-left: 10%;
    padding-right: 10%;
    font-size: large;
    font-weight: bold;
}
