*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
html{
    width: auto;
    height: auto;
}

a{
    cursor: pointer;
}


header {
    width: 100% !important;
    top: 0;
    z-index: 997;
    position: relative;
    background-color: #fff;
    display: inline-block;
    position: sticky;
}

.header_main {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    z-index: 997;
}

.header_logo{
    width: fit-content;
    line-height: 100%;
    font-weight: bold;
    display: flex;
    padding-left: 60px;
}

.header_logo img{
    align-self: center;
    height: 100%;
}

.header_nav{
    width: auto;
    height: 100%;
    list-style: none;
    padding-right: 120px;
    float: right;
}

.header_nav ul{
    list-style: none;
    margin-left: 30px;
    
}

.header_nav ul li{
    display: inline-block;
    margin: 0 5px;   
}

.header_nav ul li a{
    padding: 0 10px;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 50%;
    text-transform: uppercase;
    color: #777;
}

.header_nav ul li a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: goldenrod;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s linear;
}

.header_nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

label #main_btn,
label #close{
    color:#777;
    font-size: 30px;
    float: right;
    line-height: 100%;
    margin-right: 40px;
    cursor: pointer;
    align-self: center;
    display: none;
}

#nav_check{
    display: none;
}

.drop_btn{
    background-color: transparent;
    border: none;
    font-size: 17px;
    padding: 0 10px;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 50%;
    text-transform: uppercase;
    color: #777;
    cursor: pointer;
}

.drop_down{
    position: relative;
    display: block;
    align-items: center;
    left: -40px;
    height: 100;

}

.drop_down ul{
    position: absolute;
    width: max-content;
    height: max-content;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 50px;
    display: none;
}

.drop_down ul li{
    margin: 0;
    background-color: #fff;
    color: #777;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    text-align: center;
}

.header_nav .drop_down a{
    color: #777;
    padding: 12px 16px;
    text-decoration: none;
    text-align: justify;
}

.extend-menu{
    display: inline-block;
}

.drop_down a:hover{
    color: goldenrod;
}

.extend-menu:hover .drop_down ul{
    display: flex;
    flex-direction: column;
}

.extend-menu:hover .drop_btn{
    color: goldenrod;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.header_nav ul li a:hover{
    color: goldenrod;
}

 
body {
    color: #777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    flex-direction: column;
    margin: 0;
    padding: 0px;
}

footer{
    width: 100%;
    margin-top: auto;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #266c9a, #2c3e50);
    color: #fff;
    padding : 20px 0 30px;
    border-top-right-radius: 60px;
    font-size: 15px;
    line-height: 20px;
}
.footer_row{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer_column{
    flex-basis: 25%;
    padding: 10px;
}

.footer_column:nth-child(2), .footer_column:nth-child(3), .footer_column:nth-child(4){
    flex-basis: 20%;
}

.footer_column h3{
    width: fit-content;
    margin-bottom: 15px;
    position: relative;
}

#contact{
    width: fit-content;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    margin: 10px 0;
}

.footer_column li{
    list-style: none;
    margin-bottom: 12px 0;
}

.footer_column li a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    transition: all .5s ease;
}

.footer_column li:hover{
    color: goldenrod;
    padding-left: 10px;
}

.footer_final .socials{
    color: white;
    margin-right: 10px;
    transition: all .5s ease;
}


.footer_final .socials:hover{
    color: #777;
    background-color: white;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 30%;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}

form .far{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

form button{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

form input{
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
}


#map_link a{
    font-size: 12px;
    color: #777;
}

.footer_final{
    width: 90%;
    border: 0;
    font-size: medium;
    border-bottom: 1px solid #777;
    margin: 20px 120px;
}

.underline{
    width: 100%;
    height:5px;
    background: #777;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 20px;
    height: inherit;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 4s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}


@media (max-width: 860px){
    label #main_btn{
        display: block;
    }
    ul{
        position: fixed;
        
        width: 100%;
        height: 100vh;
        left: -100%;
        text-align: center;
        top: 95px;
        transition: all .5s;
    }
    .header_nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .header_nav ul li a{
        font-size: 15px;
    }
    #nav_check:checked ~ ul{
        background: black;
        left: 0;
    }
    
    #nav_check:checked ~ label #main_btn{
        display: none;
    }
    #nav_check:checked ~ label #close{
        display: block;
    }
    footer{
        bottom: 0;
    }
    .footer_column{
        width: 25%;
        flex-basis: 100%;
    }
    
    .footer_column:nth-child(2), .footer_column:nth-child(3), .footer_column:nth-child(4){
        flex-basis: 100%;
    } 
    .footer_final{
        margin: 20px auto;
    }
}
